<header class="search-header">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 col-md-10">
        <div class="search-box-container">
          <img (click)="goToMain()" class="brand-logo cursor-pointer" appLazyImg src="../../../../../assets/images/brand/Logo_ML.png" srcset="../../../../../assets/images/brand/Logo_ML@2x.png.png 2x" alt="logo_ml">

          <div class="search-box-form-container">
            <form (ngSubmit)="validateInput($event)">
              <div class="input-group">
                <input [(ngModel)]="queryData" [placeholder]="'shop.searchBox.searchPlaceholder' | translate" type="text" name="query-input" id="query-input-id" (keyup.enter)="validateInput($event)" class="form-control search-input">
                <span class="input-group-text search-icon-container">
                  <img appLazyImg src="../../../../../assets/images/shared/ic_Search.png" srcset="../../../../../assets/images/shared/ic_Search@2x.png.png 2x" alt="search_icon">
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
